{% load static%}
{% load mathfilters %}
{% include "includes/landing_top.html" %}

<body>
    <script src="{% static 'js/jquery.vide.min.js' %}"></script>
    <div data-vide-bg="{% static 'video/bg.jpg' %}">
        <!-- banner -->
        {% include "includes/banner1.html" %}
        <!-- //banner -->
    </div>
    <!-- menu -->
    <div class="menu">
        <div class="container">
            <div class="menu-heading">
                <h2>Our {{menu.type}}</h2>
            </div>
            <div class="menu-top-grids">
                {% for f in dishes %}
                {% if forloop.counter0|mod:4 == 1 %}
                <div class="w3ls-menu-grids">
                    {% endif %}
                    <div class="col-md-3 menu-grid">
                        <div class="agile-menu-grid">
                            <a href="{% url 'res:dish_details' f.id %}">
                                <img src="/media/{{f.image}}" alt="" height="200px" width="200px" />
                                <div class="agileits-caption">
                                    <h4>{{f.name}}</h4>
                                    <p><i class="fa fa-dollar"></i>{{f.price}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--{% if forloop.counter0|mod:4 == 0 %}-->
                    <!--<div style="height:100px;"></div>-->
                    <!--{% endif %}-->

                    {% if forloop.counter0|mod:4 == 1 %}
                </div>
                {% endif %}
                {% endfor %}
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //menu -->
    {% include "includes/footer.html" %}