{% load static%}

{% include "includes/landing_top.html" %}

{% load mathfilters %}

<body>
	<div class="bg-img">
		{% include "includes/banner1.html" %}
	</div>
	<div style="height:100px;"></div>

	<div class="container text-center">

		<div class="col-md-5 col-sm-12">
			<div class="bigcart"></div>
			<h1>Your shopping cart</h1>
		</div>

		<div class="col-md-7 col-sm-12 text-left">
			<ul>
				<li class="row list-inline columnCaptions"> 
					<span>ORDER SUCCESSFULLY</span>
				</li>
				<li class="row totals"> 
					<span class="order"> <a class="text-center" href="{% url 'res:home' %} ">Home</a></span>
					<span class="order"> <a class="text-center" href="{% url 'res:menu' %}">Continue
							Shopping</a></span>
				</li>
		</div>

	</div>

	<style>
		.columnCaptions {
			color: #7e93a7;
			font-size: 2em;
			text-transform: uppercase;
			padding: 0;
			box-shadow: 0 0 0;
			background-color: #f2f6f9;
		}
	</style>
	<!-- JavaScript includes -->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<script src="{% static 'assets/js/customjs.js' %}"></script>

</body>

</html>