{% load static%}

{% include "includes/landing_top.html" %}

{% load mathfilters %}

<body>
	<div class="bg-img">
		<!-- banner -->
		{% include "includes/banner1.html" %}
		<!-- //banner -->
	</div>


	<div style="height:100px;"></div>

	<div class="container text-center">

		<div class="col-md-5 col-sm-12">
            <img src="/media/profile.jpg" alt="">
			<!-- <div class="bigcart"></div> -->
			<h1>Your Profile</h1>
		</div>

		<div class="col-md-7 col-sm-12 text-left">
			<ul>
                <li class="row">
					<span class="status">Name: {{customer.customer.first_name}} {{customer.customer.last_name}}</span>
                </li>
                <li class="row">
					<span class="status">Email: {{customer.customer.email}}</span>	
				</li>
                <li class="row">
					<span class="status">Address: {{ customer.address}}</span>
				</li>
                <li class="row">
					<span class="status">Phone number: {{ customer.number_phone}}</span>
				</li>
                <li class="row">
					<span class="status">Username: {{customer.customer.username}}</span>
				</li>
                <li class="row totals">
					<span class="order"> <a class="text-center" href="">Edit Profile</a></span>
					<span class="order"> <a class="text-center" href="">Change Password</a></span>
				</li>
			</ul>
		</div>

	</div>
    <style>
        .status {
            color: #4ea6bc;
            font-size: 18px;
            font-weight: bold;
            float: left;
            width: 200px;
            padding-left: 7px;
        }	
        .itemName {
            color: #727578;
            font-size: 16px;
            font-weight: bold;
            float: left;
            padding-left: 25px;
            width:  250px;
        }
        .total {
            color: #f06953;
            font-size: 18px;
            font-weight: bold;
            /* margin-top: 10px; */
            /* float: right; */
        }
        .columnCaptions {
            color: #7e93a7;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            padding: 0;
            box-shadow: 0 0 0;
            background-color: #f2f6f9;
        }
        .columnCaptions span {
            padding: 0 21px 0 0;
        }
        .columnCaptions span:first-child {
            padding-left: 8px;
            padding-right: 200px;
        }
        .col-md-5.col-sm-12 h1 {
            color: #595c5f;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 30px;
            text-align: center;
        }
    </style>
    
	<!-- JavaScript includes -->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<script src="{% static 'assets/js/customjs.js' %}"></script>

</body>

</html>